<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="osu_Trace.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <osu_Trace.My.MySettings>
            <setting name="Button1" serializeAs="String">
                <value>Z</value>
            </setting>
            <setting name="Button2" serializeAs="String">
                <value>X</value>
            </setting>
            <setting name="Smoke" serializeAs="String">
                <value>C</value>
            </setting>
            <setting name="Activate" serializeAs="String">
                <value>PgUp</value>
            </setting>
            <setting name="Deactivate" serializeAs="String">
                <value>PgDn</value>
            </setting>
            <setting name="LengthUp" serializeAs="String">
                <value>Oemplus</value>
            </setting>
            <setting name="LengthDown" serializeAs="String">
                <value>OemMinus</value>
            </setting>
            <setting name="DotNum" serializeAs="String">
                <value>65</value>
            </setting>
            <setting name="MsgDisable" serializeAs="String">
                <value>False</value>
            </setting>
        </osu_Trace.My.MySettings>
    </userSettings>
</configuration>